<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.person.mapper.ComFileMapper">
    <resultMap id="BaseResultMap" type="com.example.person.entity.ComFile">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
        <result column="TYPE" jdbcType="DECIMAL" property="type" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PATH" jdbcType="VARCHAR" property="path" />
        <result column="LRRQ" jdbcType="TIMESTAMP" property="lrrq" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, PARENT_ID, TYPE, NAME, PATH, LRRQ
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  COM_FILE
        where ID = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from  COM_FILE
        where ID = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.person.entity.ComFile">
         insert into  COM_FILE (ID, PARENT_ID, TYPE,
        NAME, PATH, LRRQ
        )
        values (#{id}, #{parentId}, #{type,jdbcType=DECIMAL},
        #{name}, #{path}, new date()
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.example.person.entity.ComFile">
        update  COM_FILE
        set PARENT_ID = #{parentId},
            TYPE = #{type,jdbcType=DECIMAL},
            NAME = #{name,jdbcType=VARCHAR},
            PATH = #{path,jdbcType=VARCHAR},
            LRRQ = #{lrrq,jdbcType=TIMESTAMP}
        where ID = #{id}
    </update>

    <select id="selectByCondition" parameterType="com.example.person.entity.ComFile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  COM_FILE

    </select>

    <delete id="deleteByTypeAndParentId" parameterType="map">
        delete from  COM_FILE
        where TYPE = #{type} AND PARENT_ID = #{parentId}
    </delete>

    <select id="listParentFiles" parameterType="map" resultMap="BaseResultMap">
        select * from  COM_FILE
        where TYPE = #{type} AND PARENT_ID = #{parentId}
    </select>
</mapper>