<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.person.mapper.ComFileMapper">
    <resultMap id="BaseResultMap" type="com.example.person.entity.ComFile">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
        <result column="TYPE" jdbcType="DECIMAL" property="type" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="SIZE" jdbcType="VARCHAR" property="size" />
        <result column="PATH" jdbcType="VARCHAR" property="path" />
        <result column="LRRQ" jdbcType="TIMESTAMP" property="lrrq" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, PARENT_ID, TYPE, NAME, PATH, LRRQ
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  COM_FILE
        where ID = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM  COM_FILE WHERE ID = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.person.entity.ComFile">
        insert into  COM_FILE (ID, PARENT_ID, TYPE,  NAME, SIZE,PATH, LRRQ )
        values (#{param.id}, #{param.parentId}, #{param.type},
        #{param.name},#{param.size}, #{param.path}, SYSDATE())
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.example.person.entity.ComFile">
        update  COM_FILE
        set PARENT_ID = #{parentId},
            TYPE = #{type,jdbcType=DECIMAL},
            NAME = #{name,jdbcType=VARCHAR},
            PATH = #{path,jdbcType=VARCHAR},
            LRRQ = #{lrrq,jdbcType=TIMESTAMP}
        where ID = #{id}
    </update>

    <!--查询每个用户名下的文件 -->
    <select id="selectByCondition" parameterType="com.example.person.dto.ComFileInDTO" resultType="com.example.person.dto.ComFileOutDTO">
        SELECT * FROM (
        select @rownum:=@rownum+1 AS RN,
        ID, PARENT_ID, TYPE, NAME,SIZE ,PATH, LRRQ
        from (SELECT @rownum:=0) r, COM_FILE WHERE 1=1
        <if test="param.parentId !=null and param.parentId !=''">
            AND PARENT_ID = #{param.parentId}
        </if>
        ) B
        WHERE RN BETWEEN (#{param.pageNo}-1 )* #{param.pageSize} +1 AND #{param.pageNo}* #{param.pageSize}
     </select>
    <!--总数  -->
    <select id="selectByConditionTotal" parameterType="com.example.person.dto.ComFileInDTO" resultType="java.lang.Integer">
       select COUNT(1)
        from  COM_FILE WHERE 1=1
        <if test="param.parentId !=null and param.parentId !=''">
            AND PARENT_ID = #{param.parentId}
        </if>
     </select>


    <delete id="deleteByTypeAndParentId" parameterType="map">
        delete from  COM_FILE
        where TYPE = #{type} AND PARENT_ID = #{parentId}
    </delete>

    <select id="listParentFiles" parameterType="map" resultMap="BaseResultMap">
        select * from  COM_FILE
        where TYPE = #{type} AND PARENT_ID = #{parentId}
    </select>
</mapper>