<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>upload模块快速使用</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script type="text/javascript" src="../static/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../static/layui/procss/adminLogin.css">
    <script type="text/javascript" src="../static/layui/ajaxUtils.js" charset="utf-8"></script>

</head>
<body>
<button class="layui-btn " id="test2" >上传文件</button>
<button class="layui-btn " onclick="fileDown()" >附件下载</button>

<script>

     var filePath ='';
     var fileName='';
     layui.use('upload', function(){
        var upload = layui.upload;

       //  指定允许上传时校验的文件类型，可选值有：images（图片）、file（所有文件）、video（视频）、audio（音频）
        //执行实例
        var uploadInst = upload.render({
           // elem: '#test1' //绑定元素
            elem: '#test2' //绑定元素
            ,url: 'http://localhost:8081/person/comFile/upload/' //上传接口
            ,exts: 'zip|rar|7z|mp4|png|txt|csv' // 所需上传文件的后缀
            ,done: function(res){
                console.log(res );
                //上传完毕回调
                fileName = res.data.oldFileNameSuffix;
                filePath = res.data.newFilePath;
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });

     function  fileDown(){
         alert('fileName='+fileName+'  filePath='+filePath);
        apiLocation( 'comFile/download?fileName='+fileName+'&filePath='+filePath);
     }
</script>
</body>
</html>